    {%  if not isRpi %}
    <div class="row">
        <div class="col s5">
            <div>
              <img width="100%" class="materialboxed bottom" id="image" src="{{ url_for('static', filename='pictures/placeholder.png') }}">
            </div>
          </div>
        <div class="col s7">
          <h4 class="header">Upload Image</h4>
            <form action="/drinks/cropImage" enctype="multipart/form-data" method="post">
                <div class="file-field input-field">
                    <div class="btn black">
                        <span>File</span>
                        <input type="file" name="file">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <button class="btn waves-effect waves-light black" type="submit">Choose
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
    {% else %}
    <h7 class="header grey-text">Uploading images is not possible on the bartender screen. Please connect to your wifi and use your smartphone, tablet or computer.</h7>
    {% endif %}
<script>
$(document).ready(function(){
    $('.materialboxed').materialbox();
})
</script>