{% extends "layout.html" %}

{% block content %}

<div class="container">
	  <div class="row">
		  <div class="col s12">{#
			  <div class="row">
                  <h3 class="header">Swap bottle</h3>
                  <form action="/tools/swap" enctype="multipart/form-data" method="post">
                      <div class="row">
                          <div class="input-field col s6">
                            <select name="iding">
                                <option value="" disabled selected>Select Bottle to swap</option>
                                {% for ingredient in ingredients %}
                                <option value="{{loop.index-1}}">{{ingredient.name}}</option>
                                {% endfor %}
                            </select>
                          </div>
                      </div>
                      <button class="btn waves-effect waves-light black" id="submit" name="action">Swap
                          <i class="material-icons right">swap_horiz</i>
                      </button>
                  </form>

			  </div>
		  </div>
#}
  		</div>

        <div class="row">
            <div class="col s12">
                <h3 class="header">Swap bottle</h3>
            </div>
            <div class="collection">
                {% for ingredient in ingredients %}
                <a href="#modal{{ loop.index }}" class="collection-item black-text modal-trigger">
                    <span class="badge">
                        <div class="progress">
                            <div id="makeprogress" class="determinate black" style="width: {{ ingredient.remaining / ingredient.bottlesize * 100 }}%"></div>
                        </div>
                    </span>
                    <span class="badge">
                        {{ ingredient.remaining|round|int }} ml of {{ ingredient.bottlesize|round|int }} ml left
                    </span>

                {{ ingredient.name }}
                </a>
                {% endfor %}
            </div>
        </div>
  </div>

    <!-- Modal Structure -->
    {% for ingredient in ingredients %}
  <div id="modal{{ loop.index }}" class="modal">
    <div class="modal-content">
      <h4>Swap {{ ingredient.name }}</h4>
      <p>Do you want to swap {{ ingredient.name }}?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Dismiss</a>
      <a href="tools/swap?iding={{ loop.index-1 }}" class="modal-close waves-effect waves-green btn-flat">Swap bottle</a>
    </div>
  </div>
    {% endfor %}

{% endblock content%}

{% block scripts%}
<script>

    $(document).ready(function(){
        $('.modal').modal();
        let toast = '{{toast}}';
        if (toast){
            if(toast != "None") M.toast({html: toast});
        }
    $('select').formSelect();
  });

</script>

{% endblock scripts %}